.contact-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
  background-color: var(--primaryColor);
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  padding-top: 30px;
}

.contact-header {
  font-weight: 700;
  font-size: 50px;
  margin: 0 2%;
}

.contact-area {
  display: flex;
  flex: 1;
  width: 80%;
  margin: 2% 0;
  gap: 3%;
}

.contact-zone-left {
  display: grid;
  align-items: center;
  padding: 3% 0;
  flex: 2;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.contact-zone-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 30px;
}

.contact-qr-box {
  width: 90%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;

  border: 3px solid black;
}

.contact-qr {
  width: 100%;
  height: 100%;
  scale: 1.03;
  object-fit: contain;
}

@media only screen and (max-width: 1170px) {
  .contact-container {
    min-height: calc(100vh - 80px);
  }

  .contact-header {
    font-size: 40px;
    text-align: center;
  }

  .contact-area {
    flex-direction: column;
  }

  .contact-zone-left {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-qr-box {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
