.social-link-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  aspect-ratio: 1;
  gap: 15px;
}

.link-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 3px solid black;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  max-width: 150px;
  max-height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 300ms ease-in-out;
  transition-delay: 150ms;

  background-image: linear-gradient(to bottom left, #a1b9ee, #6b81b1, #4c669e);
}

.link-zone:hover {
  transform: scale(1.05);
}

.link-zone::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 300ms ease-in-out;
}

.link-zone:hover:before {
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
}

.shake {
  animation: shake-animation 1500ms ease-in-out;
}

.link-title {
  font-size: 18px;
}

@media only screen and (max-width: 1170px) {
  .link-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

@keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(7deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
