/* ======= Custom Font ======= */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* ======= App colors ======= */
:root {
  --primaryColor: #1b0e17;
  --secondaryColor: #cd5ff8;
  --tertiaryColor: #dbf4a7;

  --fontColor: #f6e4f6;
}

/* ======= Default css ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  color: var(--fontColor);
  font-family: "Centra", sans-serif;
}

a {
  color: var(--fontColor);
  text-decoration: none;
  font-family: "Centra", sans-serif;
}

button {
  font-family: "Centra", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bg {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    ),
    url(./assets/image/bg.jpg);

  background-size: cover;
  background-position: center center;
}
