.footer-container {
  height: 100px;
  background-color: var(--darkFadedBlack);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13%;
}

.footer-zone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

@media only screen and (max-width: 1170px) {
}
